<%= form_for @spot do |f| %>
  <div class='field'>
    <%= f.text_field :name, placeholder: 'Name', required: true %>
  </div>
  <div class='field'>
    <%= f.text_area :description, placeholder: 'Description', required: true %>
  </div>

  <div class='field'>
    <label>Category</label>
    <%= f.select :category, Spot::CATEGORIES %>
  </div>
  <div class='field'>
    <label>Difficulty</label>
    <%= f.select :difficulty, Spot::DIFFICULTIES %>
    <br />
    <i>1 = Easiest</i>
    <i>5 = Hardest</i>
  </div>
  <div class='field'>
    <%= f.text_area :difficulty_description, placeholder: 'Difficulty Description' %>
  </div>
  <div>
    <%= f.file_field :spot_picture %>
  </div>


  <h5>Address</h5>
  <%= fields_for @address do |ff| %>
    <div class='field'>
      <%= ff.text_field :street, placeholder: 'Street' %>
    </div>

    <div class='field'>
      <%= ff.text_field :city, placeholder: 'City' %>
    </div>

    <div class='field'>
      <%= ff.text_field :state, placeholder: 'State' %>
    </div>

    <div class='field'>
      <%= ff.text_field :zip, placeholder: 'Zip' %>
    </div>
  <% end %>

  <div class='field'>
    <%= f.submit class: 'btn' %>
  </div>
<% end %>
