<%= form_for @spot do |f| %>
  <div class='field'>
    <%= f.text_field :name, placeholder: 'Name' %>
  </div>
  <div class='field'>
    <%= f.text_area :description, placeholder: 'Description' %>
  </div>

  <h5>Address</h5>
  <%= fields_for @address do |ff| %>
    <div class='field'>
      <%= ff.text_field :street, placeholder: 'Street' %>
    </div>

    <div class='field'>
      <%= ff.text_field :city, placeholder: 'City' %>
    </div>

    <div class='field'>
      <%= ff.text_field :state, placeholder: 'State' %>
    </div>

    <div class='field'>
      <%= ff.text_field :zip, placeholder: 'Zip' %>
    </div>
  <% end %>

  <div class='field'>
    <%= f.submit class: 'btn' %>
  </div>
<% end %>
