<% @spots.each do |spot| %>

  <div class="row">
    <% url = spot.spot_pictures.first.try(:url) %>
    <div class='slide1 col-xs-12' style="background-image:url( <%= url %>)">
    </div>
      <div class='col-xs-2'>
        <h3 class="slide1_span"><%= link_to spot.name, spot_path(spot) %></h3>
      </div>
  </div>

  <div id='slide2', style="height: 300px">
    <div class='row'>
    <br />
      <div class='col-xs-10'><%= spot.description %></div>
      <div class='col-xs-2'><%= spot.likes.count %>
        <%= link_to like_path(spot) do %>
          <i class="fa fa-tree" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="footer">
    <%= paginate @spots %>
</div>
