<h1 class='center'><%= @spot.name %></h1>
<div class='container'>

  <!-- Picture -->
  <div class='col-xs-11 col-sm-12'>
    <% if @spot.spot_pictures.count > 0 %>
      <div id="spot-carousel" class="carousel slide" data-ride="carousel" data-id=<%= @spot.id %> >
        <div class="carousel-inner" role="listbox">
          <% @spot.spot_pictures.each_with_index do |p, i| %>
            <div class="item <%= i == 0 ? 'active' : '' %>">
              <% if @current_user && p.user_id == @current_user.id %>
              <%= link_to 'Delete', delete_spot_picture_path(p), method: :delete, class: 'delete-spot' %>
              <% end %>
              <img class='carousel-img img-fluid' src="<%= p.picture.url %>" alt="spot picture" />
            </div>
          <% end %>
        </div>
        <a class="left carousel-control" href="#spot-carousel" role="button" data-slide="prev">
          <span class="icon-prev" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#spot-carousel" role="button" data-slide="next">
          <span class="icon-next" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    <% end %>
  </div>
</div>

<div class="col-xs-12">
  <h3>Add Image</h3>
  <%= form_for @spot_picture do |f| %>
    <div class='field'>
      <%= f.file_field :picture %>

      <%= f.submit %>
    </div>
  <% end %>
</div>

<div class='col-xs-12'>
  <div class='col-sm-6'>
    <br />

    <!-- Like Tree -->
    <%= @spot.likes.count %>
    <%= link_to like_path(id: @spot.id) do %>
      <i class="fa fa-tree" aria-hidden="true"></i>
    <% end %>

    <!-- Post By: --><!-- Edit/Delete -->
    <p>Posted By: <%= link_to @spot.user.username, profile_path(@spot.user) %>
    <% if @current_user && @current_user.id == @spot.user_id || @current_user.admin? %>
      <br />
      <%= link_to 'Edit', edit_spot_path(@spot) %>
      <%= link_to 'Delete', spot_path(@spot), method: :delete %></p>
    <% end %>

    <br />

    <!-- Difficulty -->
    <p>Difficulty: <%= @spot.difficulty %></p>
    <p><%= @spot.difficulty_description %></p>

    <br />

    <!-- Spot Description -->
    <p>Spot Description: <br /><%= @spot.description %></p>

    <br />
    <br />

    <!-- map -->
    <div id='spot' data-id=<%= @spot.id %> >
      <div id="map"></div>
    </div>

    <!-- Spot Address -->
    <% if @spot.address %>
      <h4>Address:</h4>
      <p><%= @spot.address.street %></p>
      <p><%= @spot.address.city %>,
      <%= @spot.address.state %></p>
      <p><%= @spot.address.zip %></p>
    <% end %>
  </div>

  <div class='col-sm-6'>
    <!-- Comments -->
    <h4>Comments</h4>
    <% if signed_in? %>
      <%= form_for [@spot, @comment] do |f| %>
        <div class='col-xs-10'><%= f.text_area :body, required: true %></div>
        <br/>
        <br/>
        <!-- Submit Button -->
        <%= f.submit %>
    <% end %>
    <% else %>
      <small><%= link_to 'Please Log In To Comment', new_user_session_path %></small>
      <br/>
    <% end %>
      <!-- Commenting User -->
    <% @comments.each do |comment| %>
      <br/>
  <!-- Commenting User -->
      <h4><%= link_to comment.user.username, profile_path(comment.user.id) %></h4>
  <!-- Comment Body -->
      <div class='col-xs-offset-1'><small><p>--<%= comment.body %></p></small>
        <small><u><p><%= time_ago_in_words(comment.created_at) %> ago</p></u></small>
      </div>

      <% if @current_user && @current_user.id == comment.user_id %>
        <%= link_to 'Delete', delete_comment_path(@spot, comment), method: :delete %>
      <% end %>
    <% end %>

  </div>
</div>