<h1 class='center'>Profile: <%= @user.username %>
</h1>

<div class='row center'>
  <div class='col-sm-12'>
    <div class='col-sm-12 col-md-4'>
      <h3>Liked Spots</h3>
      <% @likes.each do |like| %>
        <div class='col-sm-12'>
          <div class="card">
            <% if like.spot.spot_pictures.any? %>
              <%= cl_image_tag(like.spot.spot_pictures.first.picture.path, { size: '125x125', crop: :fit }) %>
            <% end %>

            <div class="card-block">
              <%= link_to like.spot.name, spot_path(like.spot), class: 'btn btn-primary' %>
              <br />
              <br />
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class='col-sm-12 col-md-4'>
      <h3>Created Spots</h3>
      <% @spots.each do |spot| %>
      <div class='col-sm-12'>
        <div class="card">
          <% if spot.spot_pictures.any? %>
            <%= cl_image_tag(spot.spot_pictures.first.picture.path, { size: '125x125', crop: :fit }) %>
          <% end %>
          <div class="card-block">
            <%= link_to spot.name, spot_path(spot), class: 'btn btn-primary' %>
            <br />
            <br />
          </div>
        </div>
      </div>

      <% end %>
    </div>


    <div class='col-sm12 col-md-4'>
      <h3>Comments</h3>
      <br />
      <% @comments.each do |comment| %>
        <%= link_to comment.spot.name, spot_path(comment.spot.id) %>
        <p><%= truncate(comment.body, length: 100) %></p>
        <p>--<%= time_ago_in_words(comment.created_at) %> ago</p>
      <br />
      <% end %>
    </div>
  </div>
</div>
