<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <% if current_user %>
    <li><%= link_to 'Profile', profile_path(@user) %></li>

    <li class="divider"></li>
    <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
  <% end %>
</ul>
<nav>
  <div class="nav-wrapper">
    <%= link_to 'Slick Spots', root_path, class: 'brand-logo' %>
    <ul class="right hide-on-med-and-down">
      <% if current_user %>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><%= @user.username %> <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </a></li>
      <% else %>
        <li><%= link_to 'Login', new_user_session_path %></li>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
